In [6]:
idade1 = 20
idade2 = 35
soma= idade1 + 10
print (soma)

30

In [7]:
sub= idade1-15
print(sub)

5

In [8]:
mult=idade1*4
print(mult)

80

In [9]:
divi=idade1/5
print(divi)

4.0

In [10]:
resul= 2 *(idade1+idade2)
print (resul)

110

In [ ]:
"""
Parênteses
Expoente
Multiplicação
Divisão
Adição
Subtração
"""

In [17]:
idade1**2

400

In [12]:
idade2**3

42875

In [16]:
""" parte inteira // indica a parte inteira de uma divisão"""
   
barra2= idade1//idade2
print (barra2)

0

In [18]:
""" Módulo % indica o resto de uma divisão"""
modul=idade1%idade2
print(modul)

20

In [19]:
nome='Nycolle'
sobrenome='Jenifer'
print(nome,sobrenome)

Nycolle Jenifer

In [20]:
print(nome+sobrenome)

NycolleJenifer

In [21]:
print('Olá,', nome, '\n', 'você tem', idade1 + 15, 'anos.')

Olá, Nycolle
 você tem 35 anos.

In [25]:
int(input("Digite sua idade"))

19

In [29]:
idade=int(input("Digite sua idade"))
print(idade)

19

In [ ]:
dia="Sexta-feira"
dia=32.5

str